{% extends "base.html" %}

{% block content %}

<section>

<div class="album py-5 bg-light">
      <div class="container">
            <div class="row">
              {% if album_list %}
              {% for album in album_list %}
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <a href="{{ album.get_absolute_url }}">
                      <img class="card-img-top" src="{{ album.cover_thumbnail.url }}" alt="{{ album.title }}" >
                    </a>
                    <div class="card-body">
                      <h6 class="card-title">{{ album.title }}</h6>
                      <p class="card-text">{{ album.summary }} </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="{{ album.get_absolute_url }}">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <small class="text-muted">{{ album.created|date:"d M Y" }}</small>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
              {% else %}
                  <p>There are no albums available...</p>
              {% endif %}
            </div>
      </div>
</div>

</section>

{% endblock %}
