{% extends "base.html" %}

{% block content %}

<section>

<div class="album py-5 bg-light">
      <div class="container">
        <h4 class="mt-0">{{ album.title }}</h4>
        <h6 class="mt-0 text-muted">{{ album.summary }}</h6>
        <h6 class="mt-0 text-muted">Last updated: {{ album.modified|date:"M Y" }}</h6>
          <p></p>
            <div class="row">
              {% if album.photo_set %}
              {% for photo in album.photo_set.all %}
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <a href="{{ photo.picture.url }}"
                       data-toggle="lightbox"
                       data-gallery="{{ album.title }}"
                       data-title="{{ photo.title }}"
                       data-footer="{{ photo.summary }}">
                       <img class="card-img-top" src="{{ photo.picture_thumbnail.url }}" alt="{{ photo.title }}" >
                    </a>
                    <!-- Placed here for ref ...
                    <div class="card-body">
                      <h6 class="card-title">{{ photo.title }}</h6>
                      <p class="card-text">{{ photo.summary }} </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <small class="text-muted">{{ album.created|date:"d M Y" }}</small>
                      </div>
                    </div>
                    -->
                  </div>
                </div>
              {% endfor %}
              {% else %}
                  <p>There are no albums available...</p>
              {% endif %}
            </div>
      </div>
</div>

</section>

{% endblock %}
