{% extends 'base.html' %} {% load random_image %}

{% block content %}

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">

      <h1 class="jumbotron-heading">{{ settings.JUMBOTRON_HEADING }}</h1>
      <p class="lead text-muted">
        '{{ settings.JUMBOTRON_QUOTE }}'
      </p>
      <p>
        <a href="{% url 'albums' %}" class="btn btn-primary my-2">More</a>
      </p>

      <div id="carouselSlidesFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
        {% for photo in latest_picture_list|slice:":15" %}
            {% if forloop.first %}
              <div class="carousel-item active">
                <img class="d-block w-100" src="{{ photo.picture.url }}" alt="{{ photo.title }}">
              </div>
            {% else %}
              <div class="carousel-item">
                <img class="d-block w-100" src="{{ photo.picture.url }}" alt="{{ photo.title }}">
              </div>
            {% endif %}
        {% endfor %}
        </div>
      </div>

    </div>
  </section>
</main>

{% endblock %}
